{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
	
{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
	<h2 class='text-align-center' style="margin-top: 100px;"><strong>Restablecer Contraseña</strong></h2><br/>
<form method="post" action=".">
	{% csrf_token %} 
	{{ form.as_p }}
	{{ form|crispy }}
	
	<input type="submit" value="{% trans 'Enviar' %}" />
	<input class='btn btn-block btn-primary' type="submit" value="{% trans 'Enviar' %}" />
</form>
</div>
{% endblock %}